@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  /* Запрет выделения текста, чтобы ощущалось как мобильное приложение */
  user-select: none;
  -webkit-user-select: none;
  overflow-x: hidden;
}

/* Прячем скроллбар, но оставляем возможность скроллить лидерборд */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

